$cream: #D6BD98;
$lt_Green: #677D6A;
$md_Green: #40534C;
$forestGreen: #1A3636;
$titleFont: "Joti One", cursive;
$bodyFont: "Verdana, Geneva, sans-serif";


body{
  background-color: $forestGreen;
  /*background-image: url("img/bg_hex.png");*/
  margin:0;
}

.siteContainer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  height: 100vh;
  width: 60%;
  background-color: $lt_Green;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 20px;
  background-color: $cream;
  font-family: $titleFont;
}

.bodyText{
  font-family: $bodyFont;
}